<!-- Bottom Nav 
    Student Name: HOI KIT FAN
    Student ID: 301249275
    Date: 06/09/2023
-->
<footer>
  <nav class="navbar fixed-bottom" data-bs-theme="dark">
    <h6 class="navbar-text">
      &copy; Copyright HOI KIT FAN - ID:301249275 - COMP229 - SUMMER 2023
    </h6>
  </nav>
</footer>
